<div id="fileform-page">
  <div class="nav-bar">
    <div class="copcheck-logo">
      <h3><a href="/">Cop Check</a></h3>
    </div>
  </div>

  <div id="file-incident-form-div">
    <form action="/submit_incident" method="post" class="file-incident-address-bar">
      <input type="text" name="address" id="incident-search" placeholder="Where did this happen?"><br>
      <textarea name="description" rows="14" id="incident-description" placeholder="What happened?"></textarea><br>
      <button id="submit-incident-button" type="submit">File Incident</button>
    </form>
  </div>
</div>

<script>
	function activatePlacesSearch(){
		var input = document.getElementById('incident-search');
		var autocomplete = new google.maps.places.Autocomplete(input);
	}
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_PLACES'] %>&libraries=places&callback=activatePlacesSearch"></script>