<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<h1 class="copcheck-logo"><a href="/">Cop Check</a></h1>

<ul>
  <%= button_to "File Incident", action: "fileform" %>
  <li class="check-cops">Check Cops (Coming Soon!)</li>
  <li class="know-your-rights">Know Your Rights (Coming Maybe!)</li>
</ul>

<div class="search-bar-div">
  <form action="/search" method="get" class="search-bar">
    <input type="text" name="address" id="search" placeholder="search for police activity in your area">
    <button type="submit">Search</button>
  </form>
</div>

<script>
	function activatePlacesSearch(){
		var input = document.getElementById('search');
		var autocomplete = new google.maps.places.Autocomplete(input);
	}
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_PLACES'] %>&libraries=places&callback=activatePlacesSearch"></script>
	
</body>
</html>