<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h1>CopCheck</h1>

<form action="/search" method="get">
  <input type="text" name="address" id="search" placeholder="Search...">
  <button type="submit">Search</button>
</form>
<br><br>

<script>
	function activatePlacesSearch(){
		var input = document.getElementById('search');
		var autocomplete = new google.maps.places.Autocomplete(input);
	}
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=activatePlacesSearch"></script>
	
</body>
</html>



