<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1 class="copcheck-logo">Cop Check</h1>

    <div id="incident-list">
      <h1>Incident List</h1>
    </div>
    
    <div id="map"></div>

    <script>
      function initMap() {
        var incidents = <%= @incidents %>;
        var uluru = {lat: <%= @lat %>, lng: <%= @lng %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
      
        incidents.forEach((cords) => {
            var marker = new google.maps.Marker({
            position: {lat: cords[0], lng: cords[1]},
            map: map
          });
        });
      }
   </script>
        
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS']%>&callback=initMap">
    </script>
  </body>
</html>