<!DOCTYPE html>
<html>
  <head>
    <title>Copcheck</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--   <div class="nav-bar">
    <h1 class="copcheck-logo"><a href="/">Cop Check</a></h1>
    <div id="file-incident-button-div">
      <form action="/file" method="get">
      <button id="file-incident-button" type="submit">File Incident</button>
      </form>
    </div>
  </div> -->
    <%= yield %>
  </body>
</html>
