<!DOCTYPE html>
<html>
  <head>
    <title>Copcheck</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1 class="copcheck-logo"><a href="/">Cop Check</a></h1>
    <%= yield %>
  </body>
</html>
